<div class="home-container">
  <div class="page-container">
    <app-navbar-empleado></app-navbar-empleado>
    <div class="main">
      <div class="section">
        <h2>Guardar Empleado</h2>
        <form class="form-container" (ngSubmit)="registrarEmpleado()">
          <div class="form-content">
            <div class="form-group">
              <label for="id_prod" class="form-label">NOMBRE</label>
              <input [(ngModel)]="empleado.nombre"
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Ingresa el Nombre"
              />
            </div>
            <div class="form-group">
              <label for="des_prod" class="form-label">APELLIDO</label>
              <input [(ngModel)]="empleado.apellido" placeholder="Ingresa el Apellido"
                type="text"
                name="apellido"
                class="form-control"
                id="apellido"
              />
            </div>
            <div class="form-group">
              <label for="stk_prod" class="form-label">FECHA DE NACIMIENTO</label>
              <input [(ngModel)]="empleado.fechaNacimiento" placeholder="Ingresa la fecha de nacimiento"
                type="date"
                name="fecha_nacimiento"
                class="form-control"
                id="fecha_nacimiento"
              />
            </div>
            <div class="form-group">
              <label for="pre_prod" class="form-label">DNI</label>
              <input [(ngModel)]="empleado.dni" placeholder="Ingresa el DNI"
                type="number"
                name="dni"
                class="form-control"
                id="dni"
              />
            </div>
            <div class="form-group">
              <label for="fecha_contrato" class="form-label">FECHA DE CONTRATO</label>
              <input [(ngModel)]="empleado.fechaContrato" placeholder="Ingresa La fecha de Contrato"
                type="date"
                name="fecha_contrato"
                class="form-control"
                id="fecha_contrato"
              />
            </div>
            <div class="form-group">
              <label for="celular" class="form-label">CELULAR</label>
              <input [(ngModel)]="empleado.celular" placeholder="Ingresa el Celular"
                type="text"
                name="celular"
                class="form-control"
                id="celular"
              />
            </div>
            <div class="form-group">
              <label for="correo" class="form-label">CORREO</label>
              <input [(ngModel)]="empleado.email" placeholder="Ingresa el Correo"
                type="email"
                name="correo"
                class="form-control"
                id="correo"
              />
            </div>
            <div class="form-group">
              <label for="" class="form-label">CARGO</label>
              <select id="" class="form-select" name="" *ngFor="let cargo of cargoList">
                <option [value]="0">Seleccione...</option>
                <option [value]="cargo.id">{{cargo.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">PASSWORD</label>
              <input [(ngModel)]="empleado.password" placeholder="Ingresa la contraseña"
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-primary" routerLink="/lisempleado">Regresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>Derechos reservados por TOSHOKAN 2023</p>
      </div>
    </div>
  </div>
</div>
