<div class="home-container">
  <div class="page-container">
    <app-navbar-empleado></app-navbar-empleado>
    <div class="main">
      <div class="section">
        <h2>Guardar Usuario</h2>
        <form class="form-container"(ngSubmit)="registrarUsuario()"
          ngNativeValidate>
          <div class="form-content">

            <div class="form-group">
              <label for="id_prod" class="form-label">NOMBRES</label>
              <input [(ngModel)]="usuario.nombre" placeholder="Ingresa el Nombre"
                required
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
              />
            </div>
            <div class="form-group">
              <label for="des_prod" class="form-label">APELLIDOS</label>
              <input [(ngModel)]="usuario.apellido" placeholder="Ingresa el Apellido"
                required
                type="text"
                name="apellido"
                class="form-control"
                id="apellido"
              />
            </div>
            <div class="form-group">
              <label for="celular" class="form-label">CELULAR</label>
              <input [(ngModel)]="usuario.celular" placeholder="Ingresa el Celular"
                required
              type="number"
              name="celular"
                class="form-control"
                id="celular"
              />
            </div>
            <div class="form-group">
              <label for="pre_prod" class="form-label">CORREO</label>
              <input [(ngModel)]="usuario.email" placeholder="Ingresa el correo"
                required
                type="email"
                name="correo"
                class="form-control"
                id="correo"
              />
            </div>
            <div class="form-group">
              <label for="id_prod" class="form-label">USUARIO</label>
              <input [(ngModel)]="usuario.username" placeholder="Ingresa el Nombre de Usuario"
                required
                type="text"
                class="form-control"
                id="usuario"
                name="usuario"
              />
            </div>
            <div class="form-group">
              <label for="id_prod" class="form-label">PASSWORD</label>
              <input [(ngModel)]="usuario.password" placeholder="Ingresa la contraseña"
                required
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-primary" routerLink="/lisusuario">Regresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>Derechos reservados por TOSHOKAN 2023</p>
      </div>
    </div>
  </div>
</div>
