<div class="home-container">
  <div class="page-container">
    <app-navbar></app-navbar>
    <div class="main">
      <div class="section">
        <h2>~Nosotros~</h2>
        <div class="carousel">
          <h3>¿Quienes somos?</h3>
          <p>
            - Somos una pequeña empresa que esta comenzando con la venta de
            libros de manera online, ya tenemos experiencia con nuestras tiendas
            presenciales, pero debido a la demanda queremos ampliarnos de manera
            online :).
          </p>
          <h3>Amplia Trayectoria</h3>
          <p>
            - Contamos con mas de 3 años en la venta de libros en nuestras
            tiendas presenciales por todo Lima Perú. A pesar de que somos algo
            nuevos en el tema de venta por internet, no tiene de que preocuparse
            ya que la calidad es la misma.
          </p>

          <h3>Correo</h3>
          <p>{{ "toshokan_buy_and_rent@outlook.com" }}</p>
          <h3>Telefonos</h3>
          <p>975 295 873 / 987 654 321</p>

          <h3>Dirección</h3>
          <p>
            Referencia: Al lado del restaurante "La Alameda"
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d463.5345661733598!2d-76.97180560976639!3d-12.145195972533793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1668988537835!5m2!1ses-419!2spe"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>Derechos reservados por TOSHOKAN 2022</p>
      </div>
    </div>
  </div>
</div>
