<div class="home-container">
  <div class="page-container">
    <app-navbar-empleado></app-navbar-empleado>
    <div class="main">
      <div class="section">
        <h2>Guardar libro</h2>
        <form class="form-container" (ngSubmit)="registrarLibro()"
          ngNativeValidate>
          <div class="form-content">
            <div class="form-group">
              <label for="id_prod" class="form-label">TITULO</label>
              <input [(ngModel)]="libro.titulo" placeholder="Ingresa el Titulo"
                required
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
              />
            </div>
            <div class="form-group">
              <label for="des_prod" class="form-label">DESCRIPCION</label>
              <input [(ngModel)]="libro.descripcion" placeholder="Ingresa la Descripcion"
                required
                type="text"
                name="descripcion"
                class="form-control"
                id="descripcion"
              />
            </div>
            <div class="form-group">
              <label for="" class="form-label">AUTOR</label>
              <select required [(ngModel)]="libro.objAutor.id" id="autor" class="form-select" name="autor" >
                <option [value]="0" value="{{0}}" selected>Seleccione...</option>
                <option *ngFor="let aut of autorList" [value]="aut.id" value="{{aut.id}}">
                  {{ aut.nombre }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="fec_public" class="form-label">FECHA DE PUBLICACION</label>
              <input [(ngModel)]="libro.fechaPublicacion" placeholder="Ingresa la fecha de publicacion"
                required
                type="date"
                name="fec_public"
                class="form-control"
                id="fec_public"
              />
            </div>
            <div class="form-group">
              <label for="" class="form-label">CATEGORIA</label>
              <select id="categoria" class="form-select" name="categoria" [(ngModel)]="libro.objCategoria.id" placeholder="Ingresa la categoria"
                required>
                <option value="0" [value]="0" selected>Seleccione...</option>
                <option *ngFor="let cat of categoriaList" value="{{cat.id}}" [value]="cat.id">{{cat.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="editorial" class="form-label">EDITORIAL</label>
              <select id="editorial" class="form-select" name="editorial" [(ngModel)]="libro.objEditorial.id" placeholder="Ingresa la editorial"
                required>
                <option value="0" [value]="0" selected>Seleccione...</option>
                <option *ngFor="let edit of editorialList" value="{{edit.id}}" [value]="edit.id">{{edit.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="paginas" class="form-label">PAGINAS</label>
              <input [(ngModel)]="libro.paginas" placeholder="Ingresa el numero de paginas"
                required
                type="number"
                name="paginas"
                class="form-control"
                id="paginas"
              />
            </div>
            <div class="form-group">
              <label for="stockDisponible" class="form-label">STOCK DISPONIBLE</label>
              <input [(ngModel)]="libro.stockDisponible" placeholder="Ingresa el numero de stock disponible"
                required
                type="number"
                name="stockDisponible"
                class="form-control"
                id="stockDisponible"
              />
            </div>
            <div class="form-group">
              <label for="stockEnAlquiler" class="form-label">STOCK EN ALQUILER</label>
              <input [(ngModel)]="libro.stockEnAlquiler" placeholder="Ingresa el numero de stock en Alquiler"
                required
                type="number"
                name="stockEnAlquiler"
                class="form-control"
                id="stockEnAlquiler"
              />
            </div>
            <div class="form-group">
              <label for="precio" class="form-label">PRECIO</label>
              <input [(ngModel)]="libro.precio" placeholder="Ingresa el numero de stock disponible"
                required
                type="number"
                name="precio"
                class="form-control"
                id="precio"
              />
            </div>
            <div class="form-group">
              <label for="estado" class="form-label">ESTADO</label>
              <select id="estado" class="form-select" name="estado" [(ngModel)]="libro.estado" placeholder="Ingresa el estado"
                required>
                <option value="0" [value]="0" selected>Seleccione...</option>
                <option value="DISPONIBLE" [value]="'DISPONIBLE'">DISPONIBLE</option>
                <option value="AGOTADO" [value]="'AGOTADO'">AGOTADO</option>
              </select>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-primary" routerLink="/lislibro">Regresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>Derechos reservados por TOSHOKAN 2023</p>
      </div>
    </div>
  </div>
</div>
