<div class="header">
  <div class="header__section">
    <div class="header__logo">
      <a routerLink="/cargarHome">
        <div class="header__logo-img-no-responsive"></div>
      </a>
    </div>
    <div class="header__search">
      <div class="header__search-text">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <input
            type="text"
            class="header__search-text-input"
            placeholder="Buscar..."
            name="txtBusqueda"
            formControlName="txtBusqueda"
          />
          <div class="header__search-text-icon">
            <button class="header__search-text-icon-button" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="nav">
  <div class="nav-container">
    <ul class="menu-horizontal">
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/libros">Libros</a></li>
      <li><a routerLink="/compras">Carrito de Compras</a></li>
      <li><a routerLink="/alquiler">Carrito de Alquiler</a></li>
      <li><a routerLink="/librosalquilados">Alquileres Activos</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
    </ul>
    <div class="user-container" *ngIf="type === 'user'">
      <label style="margin-left: 20px;">{{ userNom }} {{ userApell }}</label>
      <label style="margin-left: 10px; margin-right: 10px">|</label>
      <div class="user-icon"></div>
      <div class="imagen-con-hover-exit" style="margin-left: 20px; cursor: pointer;" routerLink="/login"></div>
    </div>
  </div>

</div>
