<div class="home-container">
  <div class="page-container">
    <app-navbar-empleado></app-navbar-empleado>
    <div class="main">
      <div class="section">
        <div class="title">
          <h2>Lista de Editoriales</h2>
          <div
            class="btn btn-primary"
            style="margin-left: 20px; cursor: pointer"
            routerLink="/guardareditorial"
          ></div>
        </div>
        <div align="center" id="list__panel">
          <div>
            <form >
              <table border="0" class="list__table" style="color: white">
                <thead>
                  <tr class="list__table__min__tr">
                    <th
                      class="list__table__min"
                      style="color: white; max-width: 200px"
                    >
                      CODIGO
                    </th>
                    <th
                      class="list__table__min"
                      style="color: white; max-width: 200px"
                    >
                      NOMBRE
                    </th>
                    <th
                      class="list__table__min"
                      style="color: white; max-width: 200px"
                    >
                      ACCIONES
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let edit of editorialList">
                  <tr class="list__table__min__tr">
                    <td class="list__table__min">{{ edit.id }}</td>
                    <td class="list__table__min">{{ edit.nombre }}</td>
                    <td class="list__table__min" style="text-align: center">
                      <div class="tooltp">
                        <a (click)="eliminarEditorial(edit.id)"
                          style="
                            text-decoration: none;
                            color: white;
                            cursor: pointer;
                          "
                        >
                          <img
                            class="imagen-con-hover"
                            alt=""
                            src="/assets/images/delete_icon_black.png"
                          />
                        </a>

                        <a
                          (click)="editarEditorial(edit.id)"
                          style="
                            text-decoration: none;
                            color: white;
                            cursor: pointer;
                          "
                        >
                          <img
                            class="imagen-con-hover-edit"
                            alt=""
                            src="/assets/images/edit_icon_black.png"
                          />
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3" style="text-align: center">
                      {{'Total de editoriales: '+ editorialList.length}}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
        <p>Derechos reservados por TOSHOKAN 2023</p>
      </div>
    </div>
  </div>
</div>
