@import "ngx-toastr/toastr";
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.imagen-con-hover {
  width: 20px; /* Ajusta el tamaño según tu diseño */
  height: 20px; /* Ajusta el tamaño según tu diseño */
  transition: transform 0.3s ease; /* Transición suave para efecto visual */
}

.imagen-con-hover:hover {
  content: url("/assets/images/delete_icon_white.png");
}

.imagen-con-hover-exit {
  width: 20px; /* Ajusta el tamaño según tu diseño */
  height: 20px; /* Ajusta el tamaño según tu diseño */
  transition: transform 0.3s ease; /* Transición suave para efecto visual */
  content: url("/assets/images/exit_icon_white.png");
}

.imagen-con-hover-exit:hover {
  content: url("/assets/images/exit_icon_red.png");
}


.imagen-con-hover-edit {
  width: 20px; /* Ajusta el tamaño según tu diseño */
  height: 20px; /* Ajusta el tamaño según tu diseño */
  transition: transform 0.3s ease; /* Transición suave para efecto visual */
}

.imagen-con-hover-edit:hover {
  content: url("/assets/images/edit_icon_white.png");
}
