.header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #dd1c1c;
  padding: 0em 3.125em;
}

.header__section {
  display: flex;
  width: 100%;
  padding: 10px;
}

.header__logo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  background-image: url(/assets/images/Logo_Banner_Toshokan.png);
}


.nav {
  justify-content: space-between;
  background-color: #000;
  padding: 0 3.125em;
  font-size: 15px;
}

.nav-container {
  display: flex;
  margin: 0 auto;

}

.menu-horizontal {
  list-style: none;
  display: flex;
  font-weight: bold;
  align-items: center;
  height: 100%;

}

.menu-horizontal > li {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-horizontal > li > a {
  padding: 1.18em 2.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8em;
}

.menu-horizontal > li:hover {
  background-color: #dd1c1ca9;
  border-top: none;
}

.user-container {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px 0;
}


.user-button-information {
  position: absolute;
  width: 6em;
  bottom: -99.4px;
  right: -10px;
  height: 100px;
  padding: 5px 10px;
  background-color: #000;
  display: none;
}

.user-button-information-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-button-information a {
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  text-align: center;
  display: flex;
}

.user-icon {
  background-image: url(/assets/images/user_icon.png);
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
}
